langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq
ipykernel
python-dotenv
transformers
torch
streamlit
sentence-transformers
numexpr
huggingface_hub
pylatexenc
